################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LeetClubHub/FileContentIndex
/.vs/LeetClubHub/v17
/.vs
